* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 20px 0;
}

body {
    background-image: url(./assets/wallpaper/wallpaper-jackpot.jpg);
    background-position: center;
    background-size: cover;
}

main {
    max-width: 960px;
    display: flex;
    margin: 40px auto;
    padding: 30px;
    gap: 10px;
    background-image: url(./assets/wallpaper/maderita.jpg) ;
    border-radius: 10px;
} 

.game-section {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    column-gap: 10px;
    background-image: url(./assets/wallpaper/gold-background.jpg);
    background-size: cover;
}

.card{
    cursor: pointer;
}
.image-div {
    padding: 20px 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: rgb(238, 225, 201);
    position:relative;
    width:120px;
    height: 120px;
    
}

.back-image {
    transform: rotateY(0.5turn);

}

.card:hover .front-image{
    transform: rotateY(0.5turn);
}


.card:hover .back-image{
    transform: rotateY(1turn);
}


.front-image, .back-image {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    transition: all 2s;
    width:100%;

}



.image-div:nth-of-type(1), .image-div:nth-of-type(2), .image-div:nth-of-type(3), .image-div:nth-of-type(4) {
    border-top: 2px solid black;
}

.image-div:nth-of-type(13), .image-div:nth-of-type(14), .image-div:nth-of-type(15), .image-div:nth-of-type(16) {
    border-bottom: 2px solid black;
}

.score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}