* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 20px 0;
}

body {
    background-image: url(./assets/wallpaper/wallpaper-jackpot.jpg);
    background-position: center;
    background-size: cover;
}

main {
    max-width: 960px;
    display: flex;
    margin: 40px auto;
    padding: 30px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
} 

.game-section {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    column-gap: 10px;
}

.image-div {
    padding: 20px 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.image-div img {
    display: block;
    margin: auto;
}


.image-div:nth-of-type(1), .image-div:nth-of-type(2), .image-div:nth-of-type(3), .image-div:nth-of-type(4) {
    border-top: 2px solid black;
}

.image-div:nth-of-type(13), .image-div:nth-of-type(14), .image-div:nth-of-type(15), .image-div:nth-of-type(16) {
    border-bottom: 2px solid black;
}

.score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}