* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 30px 0 10px 0;
}

.header h2 {
    animation: fluid 10s ease-in-out infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 300%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes fluid {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

body {
    background-image: url(./assets/wallpaper/wallpaper-jackpot.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Zen Dots', cursive;
}

main {
    max-width: 960px;
    display: flex;
    margin: 20px auto;
    padding: 30px;
    gap: 10px;
    background-image: url(./assets/wallpaper/maderita.jpg);
    border-radius: 10px;
} 

/*--------------- play button ------------------*/
.play-button {
    position: relative;
    width: 11em;
    height: 4em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #ddebf0;
    margin-top: 40px;
    cursor: pointer;
    font-family: 'Zen Dots', cursive;
}

#clip {
--color: #2761c3;
position: absolute;
top: 0;
overflow: hidden;
width: 100%;
height: 100%;
border: 5px double var(--color);
box-shadow: inset 0px 0px 15px #195480;
clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.arrow {
position: absolute;
transition: 0.2s;
background-color: #2761c3;
top: 35%;
width: 11%;
height: 30%;
}

#leftArrow {
left: -13.5%;
clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
clip-path: polygon(100% 49%, 0 0, 0 100%);
left: 102%;
}

.play-button:hover #rightArrow {
background-color: #27c39f;
left: -15%;
animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

.play-button:hover #leftArrow {
background-color: #27c39f;
left: 103%;
animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
position: absolute;
width: 4em;
height: 4em;
background-color: #2761c3;
box-shadow: inset 1px 1px 8px #2781c3;
transform: scale(1) rotate(45deg);
transition: 0.2s;
}

#rightTop {
top: -1.98em;
left: 91%;
}

#leftTop {
top: -1.96em;
left: -3.0em;
}

#leftBottom {
top: 2.10em;
left: -2.15em;
}

#rightBottom {
top: 45%;
left: 88%;
}

.play-button:hover #leftTop {
animation: 0.1s ease-in-out 0.05s both changeColor8,
0.2s linear 0.4s both lightEffect8;
}

.play-button:hover #rightTop {
animation: 0.1s ease-in-out 0.15s both changeColor8,
0.2s linear 0.4s both lightEffect8;
}

.play-button:hover #rightBottom {
animation: 0.1s ease-in-out 0.25s both changeColor8,
0.2s linear 0.4s both lightEffect8;
}

.play-button:hover #leftBottom {
animation: 0.1s ease-in-out 0.35s both changeColor8,
0.2s linear 0.4s both lightEffect8;
}

.play-button:hover .corner {
transform: scale(1.25) rotate(45deg);
}

.play-button:hover #clip {
animation: 0.2s ease-in-out 0.55s both greenLight8;
--color: #27c39f;
}

@keyframes changeColor8 {
from {
    background-color: #2781c3;
}

to {
    background-color: #27c39f;
}
}

@keyframes lightEffect8 {
from {
    box-shadow: 1px 1px 5px #27c39f;
}

to {
    box-shadow: 0 0 2px #27c39f;
}
}

@keyframes greenLight8 {
from {
}

to {
    box-shadow: inset 0px 0px 32px #27c39f;
}
}

@keyframes leftArrow8 {
from {
    transform: translate(0px);
}

to {
    transform: translateX(10px);
}
}

@keyframes rightArrow8 {
from {
    transform: translate(0px);
}

to {
    transform: translateX(-10px);
}
}

/* -------------------------------------------------- */

.game-section {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
    column-gap: 10px;
    background-image: url(./assets/wallpaper/gold-background.jpg);
    background-size: cover;
}

.flip >img.back-image{
    transform: rotateY(180deg);
    transition: transform .5s;
}

.flip >img.front-image{
    transform: rotateY(360deg);
    transition: transform .5s;
} 

.card{
    cursor: pointer;
} 



.image-div {
    padding: 20px 0;
    border-left: 2px solid #7c7c7c;
    border-right: 2px solid #7c7c7c;
    background-color: rgb(238, 225, 201);
    position:relative;
    width:120px;
    height: 120px;

}

.front-image {
    transform: rotateY(180deg);


}

.front-image, .back-image {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    width:100%;

}

@keyframes start-front {
    20%,90%{
        transform: rotateY(1turn);
    }
    0%,100%{
        transform: rotateY(0.5turn);
    }
}

@keyframes start-back {
    20%,90%{
        transform: rotateY(0.5turn);
    }
    0%,100%{
        transform: rotateY(1turn);
    }
}

.score-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    max-height: 514px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 40px;
    background-color: rgb(238, 225, 201);
    gap: 10px;
    overflow-y: auto;
}


.score-section h3 {
    font-size: 22px;
    text-align: center;
    border-bottom: 2px solid black;
}
.users-score {
    margin-bottom: 10px;
}

.users-score h4{
    margin-bottom: 5px;
}


.score-section::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}


.score-section::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.score-section::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.score-section::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.score-section::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

.score-section::-webkit-scrollbar-track:hover,
.score-section::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}
/* ----------------------- */

/* user login */

.card-username {
    width: 210px;
    height: 254px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
}

.card-username > * {
margin: 0;
}

.card-username {
    color: #333;
}

.card-username {
font-size: 13px;
line-height: 18px;
color: #333;
}

.card__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__form input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
}

.card__form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
}

.sign-up:hover {
    opacity: 0.8;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}

.modal-container {
    margin: auto;
}

#winPopup{
    position: relative;
    width: 250px;
    border-radius: 15px;
    padding: 11px;
    text-align: center;
    background: rgb(255, 255, 255);
}

#winPopup img{
    width: 100%;
}

#winPopup .span-close{
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

.win-button{
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold; 
}